</div>
<footer class="page-footer brown">
     <div class="container"><a class="topo">up</a>
       <div class="row">
         <div class="col l3 s12">
           <h5 class="white-text">99beMore</h5>
           <ul>
               <li class="white-text page-scroll"><a href="#service">O que fazemos!</a></li>
               <li class="white-text page-scroll"><a href="#about">Quem somos</a></li>
               <li class="white-text page-scroll"><a href="#contact">Contato</a></li>
           </ul>
         </div>
         <div class="col l3 s12">
           <h5 class="white-text">Social</h5>
           <ul>
             <li><a href="#!" class="white-text">Facebook</a></li>
             <li><a href="https://twitter.com/99_beMore" class="white-text">Twitter</a></li>
             <li><a href="#!" class="white-text">LinkedIn</a></li>
           </ul>
         </div>
       </div>
     </div>
     <div class="footer-copyright">
       <div class="container">© 2016 Mr.Swift</div>
     </div>
   </footer>
