<nav role="navigation" class="white">
    <div class="nav-wrapper container"><a id="logo-container" href="#/" class="brand-logo">99beMore</a>
      <ul class="right hide-on-med-and-down">
        <li class="page-scroll"><a href="#service">O que fazemos!</a></li>
        <li class="page-scroll"><a href="#about">Quem somos</a></li>
        <li class="page-scroll"><a href="#contact">Contato</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li class="page-scroll"><a href="#service">O que fazemos!</a></li>
        <li class="page-scroll"><a href="#about">Quem somos</a></li>
        <li class="page-scroll"><a href="#contact">Contato</a></li>
      </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container banner_container">
        <br><br>
        <h1 class="header center red-text text-lighten-2">99beMore</h1>
        <div class="row center">
          <h5 class="header col s12 light red-text text-lighten-2">Planejando e construindo softwares para você crescer!</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag "background1.jpg" %></div>
  </div>

 <div class="all_context">
